#focus_wrap{width:596px;height:340px;float:left;margin-top:10px}
#focus_box,#focus{width: 100%;height:340px}
#focus_wrap img{width:100%;height:340px}
.mF_expo2010 {
	position: relative
}

.mF_expo2010 .loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff url(loading.gif) center no-repeat;
	z-index: 9
}

.mF_expo2010 .pic li {
	position: absolute;
	width:100%
}

.mF_expo2010 .txt_bg {
	position: absolute;
	bottom: 0;
	z-index: 1;
	height: 36px;
	width: 100%;
	background: #000;
	filter: alpha(opacity=40);
	opacity: .4
}

.mF_expo2010 .txt li {
	position: absolute;
	z-index: 2;
	left: 0;
	height: 36px;
	line-height: 36px
}

.mF_expo2010 .txt li a {
	display: block;
	color: #fff;
	padding: 2px 0 0 16px;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none
}

.mF_expo2010 .num {
	position: absolute;
	z-index: 3;
	bottom: 8px;
	right: 8px
}

.mF_expo2010 .num li {
	float: left;
	position: relative;
	width:6px;
	height: 18px;
	line-height: 18px;
	overflow: hidden;
	text-align: center;
	padding-right: 10px;
	cursor: pointer
}

.mF_expo2010 .num li a,
.mF_expo2010 .num li b {
	position: absolute;
	z-index: 2;
	display: block;
	color: #fff;
	width: 6px;
	height: 6px;
	top: 7px;
	left: 0;
	background:#fff ;
	text-decoration: none;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	text-indent: 99999999px;
	border-radius: 100%;
}

.mF_expo2010 .num li b {
	z-index: 1;
	background: #fff;
	filter: alpha(opacity=50);
	opacity: .5
}

.mF_expo2010 .num li.hover a,
.mF_expo2010 .num li.current a {
	width: 14px;
	background:#82ACFF 
}